/*
====================================
Main Styling
====================================
*/

html {
	font-size: 10px;
}

body{
	overflow: hidden;
}

.z-page {
	background: $darkcolor;
	position: relative;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.z-page-right {
	.main {
		transform: translateX(-85vw);
	}
	.right {
		transform: translateX(15vw)
	}

	~ .about {
		display: none;
	}
}

.z-page-left {
	.main {
		transform: translateX(85vw);
	}
	.left {
		transform: translateX(0);
	}

	~ .about {
		display: none;
	}
}


.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100%;
	position: relative;
	background: $darkcolor;
	z-index: 100;
	// left: 0;
	// right: 0;
	transition: transform 0.8s cubic-bezier(0.780, 0.340, 0.275, 0.475);
}
.z-container {
	width: 85%;
}

.z-container-inner {
	width: 100%;
	position: relative;
}

.z-about-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2.4rem;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.6s ease;
	svg#down-arrow {
		height:2.2rem;
		margin-top: 0.4rem;
	}
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
}

h2 {
	@include circularbold(2.7rem);
}

h3 {
	@include proxima(1.2rem);
	display: inline;
	transition: color 0.3s ease;
	&:hover {
		color: $popcolor;
	}
}

svg.Z {
	width: 27vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.cls-1 {
		transition: fill 0.4s ease;
	}
	&:hover .cls-1{
		fill: $popcolor;
		cursor: pointer;
	}
	&:hover {
		cursor: pointer;
	}
}


svg#arrow {
	width: 2.2rem;
}


/*
====================================
BOTH SIDES
====================================
*/
.developer-container, .designer-container {
	@include flexBox;
	height: 100vh;
	width: 15%;
	transition: color 0.4s ease;
	transition: fill 0.4s ease;
	&:hover {
		cursor: pointer;
	}
}

.developer-post-container, .designer-post-container {
	position: relative;
	background-size: cover;
	// background-position: center center;
	height: 100%;
	.overlay {
		height: 100%;
		@include flexBox;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		transition: opacity 0.4s ease;
		.overlay-skills {
			margin: 3rem 3rem 0 0;
			h5 {
				margin: 0.8rem 0 0;
				border: 1px solid $aboutbg;
				padding: 0.85rem 1.2rem;
				font-family: $proxima;
				font-size: 1.3rem;
				font-weight: 100;
				color: $aboutbg;
				letter-spacing: 0.03rem;
				text-align: center;
				min-width: 82px;
			}
		}
		.overlay-text {
			height: 100%;
			@include flexBox;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			transition: opacity 0.4s ease;
			padding-bottom: 3rem;
		}
		.arrow-text-container {
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: max-height 1.2s ease, opacity 1.2s ease, bottom 1.2s ease;
			bottom: 0;
			position: relative;
		}
		h2 {
			color: white;
			bottom: 0;
			position: relative;
			transition: bottom 1.5s ease;
			margin-left: 3rem;
		}
		p, svg.right-arrow {
			color: white;
			margin-left: 3rem;
		}
		p {
			@include circularit(1.7rem);
			text-transform: lowercase;
			margin-top: 0.6rem;
			margin-bottom: 1.9rem;
		}
		// p, svg.right-arrow {
		// 	opacity: 0;
		// 	transition: opacity 0.4s ease, bottom 0.4s ease;
		// }
		svg.right-arrow {
			transform: rotate(180deg);
			padding: 0;
		}
	}
	&:hover .arrow-text-container {
		max-height: 180px;
		// bottom: 3rem;
		opacity: 1;
	}
	// &:hover h2, &:hover p, &:hover svg.right-arrow {
	// 	bottom: 3rem;
	// }
	&:hover h2 {
		// bottom: 3rem;
	}
	&:hover .overlay-skills h5 {
		color: white;
		border: 1px solid white;
	}
	img {
		max-width: 100%;
		display: block;
	}
	// &:hover p, &:hover svg.right-arrow {
	// 	opacity: 1;
	// }
}
.tilt {
	display: inline;

}
/*
====================================
DEVELOPER SIDE
====================================
*/
.left {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	position: absolute;
	top: 0;
	// left: -85%;
	transform: translateX(-100%);
	z-index: 99;
	transition: transform 0.8s cubic-bezier(0.780, 0.340, 0.275, 0.475);
	overflow-y: auto;
	height: 100%;
	a {
		width: 50%;
		height: 50vh;
		display: block;
		text-decoration: none;
	}
}

.cls-2 {
	fill: white;
	transition: fill 0.3s ease;
}

.developer-container:hover .cls-2 {
	fill: $popcolor;
}

.developer-container:hover h3 {
	color: $popcolor;
}


svg.left-arrow {
	margin-right: 0.4rem;
}

/*
====================================
DESIGNER SIDE
====================================
*/

.right {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	position: absolute;
	top: 0;
	transform: translateX(100vw);
	z-index: 99;
	overflow-y: auto;
	height: 100%;
	// z-index: 500;
	transition: transform 0.8s cubic-bezier(0.780, 0.340, 0.275, 0.475);
	a {
		width: 50%;
		height: 50vh;
		display: block;
		text-decoration: none;
	}
}

.designer-container:hover .cls-2 {
	fill: $popcolor;
}

.designer-container:hover h3 {
	color: $popcolor;
}

svg.right-arrow {
	transform: rotate(180deg);
	margin-left: 0.4rem;
}

/*
====================================
ABOUT SECTION
====================================
*/

.back-to-main {
	@include flexBox();
	flex-direction: column;
	min-height: 16vh;
	width: 100%;
	background-color: $darkcolor;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 101;
	transition: opacity 1s 0.5s ease;
	cursor: pointer;
	.cls-1 {
		fill: white;
		transition: fill 0.4s ease;
	}
	svg#arrow-up{
		height: 2.2rem;
		margin-bottom: 1.2rem;
	}
	svg.z-logo{
		width: 2.85rem;
	}
	p {
		margin: 0.85rem 0 0;
		color: white;
		transition: color 0.4s ease;
		font-family: $proxima;
		font-weight: 100;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover .cls-1 {
		fill: $popcolor;
	}
	&:hover p{
		color: $popcolor;
	}
}

.about {
	background-color: $aboutbg;
	background-image: url(./images/Z.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
	margin: 0 auto;
	padding-bottom: 7rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 84vh;
	// height: 100vh;
	// transition: all 0.8s cubic-bezier(0.780, 0.340, 0.275, 0.475);
}

.wrapper {
	max-width: 1300px;
	width: 90%;
	margin: 0 auto;
}

h1 {
	@include circularblack(4.2rem);
	color: $darkcolor;
	margin: 7rem auto 7rem;
}

.about-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.about-post {
	display: flex;
	flex-direction: row;
	margin-right: 1%;
	width: 33.3%;
	&:last-of-type {
		margin-right: 0;
	}
	.img-wrapper {
		width: 35%;
		img {
			max-width: 100%;
		}
	}
	p {
		@include circularblack(2.7rem);
		color: $darkcolor;
		margin: 0.45rem 0rem 0.45rem 1.4rem ;
	}
	em {
		@include circularit(2.7rem);
		font-style: normal;
	}
}

hr.rule {
	margin: 8rem 0;
	background-color: $rulecolor;
	height: 0.15rem;
	border: 0; 
}

/*
====================================
LANGUAGES
====================================
*/
.languages {
	text-align: center;
	padding: 3rem 0 5rem;
	h2 {
		@include circularblack(3.4rem);
	}
	h5 {
		@include circularit(2rem);
		margin: 0.95rem 0 0;
		letter-spacing: 0.03rem;
	}
}

.dev-icons-container {
	@include flexBox();
	flex-wrap: wrap;
	width: 100%;
	max-width: 700px;
	margin: 5.8rem auto 0;
	.dev-icon {
		width: 16.6%;
		&:nth-child(n + 7) {
			margin-top: 4.7rem;
		}
		i {
			font-size: 4.5rem;
		}
		p {
			@include proxima(1.1rem);
			color: #b7b7b7;
			margin: 1.7rem 0 0;
		}
	}
}


/*
====================================
SOCIAL
====================================
*/

.social-container {
	@include flexBox();
	flex-direction: column;
	margin-bottom: 5rem;
	.pnumber {
		margin-top: 0;
	}
}

.social-links-container {
	@include flexBox();
	a {
		text-decoration: none;
		margin-right: 2rem;
		&:last-of-type {
			margin-right: 0;
		}
		&:hover .social-link{
			background: $popcolor;
		}
	}
}

.contact-info {
	margin: 0 auto;
	text-align: center;
	h2 {
		@include circularblack(3.5rem);
		letter-spacing: 0rem;
	}
	h5 {
		@include circularit(1.55rem);
		margin: 0.8rem 0 0;
	}
	hr {
		width: 4rem;
		background-color: $rulecolor;
		height: 0.25rem;
		margin: 2.2rem auto;
		text-align: center;
		border: 0; 
	}
	a {
		display: block;
		text-decoration: none;
		color: #a0a0a0;
		font-family: $circular;
		font-size: 2rem;
		margin: 0.75rem 0;
		transition: color 0.3s ease;
		&:last-of-type {
			margin-bottom: 0;
		}
		&:visited {
			text-decoration: none;
		}
		&:hover {
			color: $popcolor;
		}
	}
}
.social-link {
	@include flexBox();
	width: 4.4rem;
	height: 4.4rem;
	border-radius: 50%;
	background-color: $darkcolor;
	color: #f8f8f8;
	margin-top: 3.7rem;
	transition: background 0.3s ease;
	i {
		font-size: 2rem;
	}
	.fa-github {
		font-size: 2.4rem;
	}
}


